name: CI

on: [push, pull_request]

jobs:
  build_linux_gcc:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Create Build Environment
        run: |
          wget -qO- https://apt.llvm.org/llvm-snapshot.gpg.key | sudo tee /etc/apt/trusted.gpg.d/apt.llvm.org.asc
          sudo add-apt-repository "deb http://apt.llvm.org/noble/ llvm-toolchain-noble-21 main"
          sudo apt-get install -y gcc-14 llvm-21
          cmake -E make_directory ${{github.workspace}}/build
      - name: Configure
        env:
          CC: gcc-14
          CXX: g++-14
        shell: bash
        working-directory: ${{github.workspace}}/build
        run: |
          cmake -DCMAKE_BUILD_TYPE=Release ..
      - name: Build
        shell: bash
        working-directory: ${{github.workspace}}/build
        run: |
          cmake --build . --target install
  build_linux_clang:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Create Build Environment
        run: |
          wget -qO- https://apt.llvm.org/llvm-snapshot.gpg.key | sudo tee /etc/apt/trusted.gpg.d/apt.llvm.org.asc
          sudo add-apt-repository "deb http://apt.llvm.org/noble/ llvm-toolchain-noble-21 main"
          sudo apt-get install -y clang-21 llvm-21
          cmake -E make_directory ${{github.workspace}}/build
      - name: Configure
        env:
          CC: clang-21
          CXX: clang++-21
        shell: bash
        working-directory: ${{github.workspace}}/build
        run: |
          cmake -DCMAKE_BUILD_TYPE=Release ..
      - name: Build
        shell: bash
        working-directory: ${{github.workspace}}/build
        run: |
          cmake --build . --target install
  build_windows_msvc:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Cache LLVM
        id: cache-llvm
        uses: actions/cache@v4
        with:
          path: llvm
          key: llvmorg-21.1.0
      - name: Download LLVM
        if: steps.cache-llvm.outputs.cache-hit != 'true'
        uses: actions/checkout@v4
        with:
          repository: llvm/llvm-project
          ref: llvmorg-21.1.0
          path: llvm-project
      - name: Build LLVM
        if: steps.cache-llvm.outputs.cache-hit != 'true'
        working-directory: ${{github.workspace}}/llvm-project/llvm
        run: |
          cmake -E make_directory ${{github.workspace}}/llvm
          cmake -Thost=x64 -DLLVM_TARGETS_TO_BUILD="host" -DBUILD_SHARED_LIBS=OFF -DCMAKE_FIND_USE_SYSTEM_ENVIRONMENT_PATH=OFF -DCMAKE_INSTALL_PREFIX=${{github.workspace}}/llvm .
          cmake --build . --target install --config Release
      - name: Create Build Environment
        run: |
          cmake -E make_directory ${{github.workspace}}/build
      - name: Configure
        working-directory: ${{github.workspace}}/build
        run: |
          cmake -Thost=x64 -DLLVM_DIR=${{github.workspace}}/llvm/lib/cmake/llvm ..
      - name: Build
        working-directory: ${{github.workspace}}/build
        run: |
          cmake --build . --target install --config Release
